*{
  padding: 0;
  margin: 0;
}

header{
  text-align: center;
}

h1{
  font-family: 'Vollkorn SC', serif;
  font-kerning: .2em;
  margin-bottom:.3em;
}

aside{
  display: inline-block;
  width: 19%;
  float: right;
}

button{
  
}

.save-pallet{
  margin-bottom: .4em;
}
.palette-section{
  width: 80%;
  display: inline-block;
}

.palette-container{
  width: 100%;
  display: flex;
}

.palettes{
  width: 20%;
  height: 87vh;
}

.small-palette-container{
  display: flex;
}
.small-palettes{
  height: 30px;
  width: 30px;
}
